<%- include("partials/header"); %>

  <div class="container mt-5 pt-5">
    <h2 class="text-center">Berita dan Pengumuman Desa Mekarjaya</h2>
    <hr>
    <hr>

    <div class="row">
      <% if (daftarBerita.length> 0) { %>
        <% daftarBerita.forEach(berita => { %>
          <div class="col-md-4 mb-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">
                  <%= berita.judul %>
                </h5>
                <p class="text-muted">Ditulis oleh: <%= berita.penulis %> pada <%=
                      berita.tanggal_posting.toLocaleDateString() %>
                </p>
                <a href="/berita/<%= berita.id %>" class="btn btn-primary">Baca Selengkapnya</a>
              </div>
            </div>
          </div>
          <% }); %>
      <% } else { %>
        <p class="text-center">Belum ada berita yang dipublikasikan.</p>
      <% } %>
    </div>
  </div>

  <%- include("partials/footer"); %>